*{
    box-sizing: border-box;
}
body{
    background-color: darkred;
    margin:0;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

main{
    background-color: white;
    width: 70%;
    margin: 0 auto 1rem auto;
    padding: 0 1rem 2rem 1rem;
}

header{
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}
header img{
    float:right;
    max-width: 200px;
}

#contact-btn{
    border:none;
    background-color: darkgreen;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    text-decoration: none;
    color:white;
    font-size: 1rem;
}

/* Form */
legend {
    color: darkgreen;
    font-variant: small-caps;
    font-size: 1.5rem;
    padding: 0 1rem;
}

fieldset{
    border: 1px solid darkgreen;
    padding: 1rem;
    margin: 1.25rem;
}

label{
    display: block;
    padding-bottom: .2rem;
}

input[type="text"], textarea, select{
    width: 100%;
    border: 1px solid rgb(55, 55, 55);
    border-radius: .25rem;
    padding: .75rem;
}

.err {
    color: darkred;
    display: none;
}